<br><br>
<div class="container shadow rounded">
    <table class="table table-hover text-center mx-auto ">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Subject</th>
                {{!-- <th scope="col"></th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <th scope="row">#</th>
                <td>{{subject.code}}</td>
                <td>{{subject.name}}</td>
                {{!-- <td>
                    <form onsubmit="return confirm('Are you sure you want to delete this subject')"
                        action="/admin/students/{{_id}}?_method=DELETE" method="post">
                        <button class="border-0 bg-transparent text-danger" title="delete" type="submit">
                            <li class="fa-regular fa-trash-can fs-5"></li>
                        </button>
                    </form>
                </td> --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>