<br><br>
<div class="container shadow rounded">
    <table class="table table-hover text-center mx-auto ">
        <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Academic Number</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <th scope="row">#</th>
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td>{{student.academic_number}}</td>
                {{/each}}
        </tbody>
    </table>
</div>